@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background-color: #000;
}

.pdb-data pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 300px;
  overflow-y: auto;
  font-size: 0.7rem;
}
